/* style.css */
/* Alexandra Houde */
/* 11 novembre 2019 */

body {
    width: 56.25rem;
    margin: auto;
    background: url("../img/woodBackground.jpg");
    background-color: aqua;

}

h1 {
    text-align: right;
    font-size: 2.25rem;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 6.25rem;
    margin-bottom: 3.125rem;
}
h1, h2 {
    color: azure;
}

table, th, td {
   border: 0.063rem solid azure;
}

a:visited {
    color: darkorange;
}
a:link {
    color: greenyellow;
}
a:hover {
    color: orangered;
}

img {
    width: 15.625rem;
    border-radius: 0.938rem;

}
p {
    font-size: 0.875rem;
    text-align: justify;
    color: azure;
}
ul {
    color: azure;
}
table {
    color: azure;
}
/* Opacité */
div img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
div:hover img {
    opacity: .5;
}
