<div>
  <canvas id="monGraphique" baseChart
          [datasets]="mesdonnees.data"
          [labels]="mesdonnees.etiquettes"
          [options]="mongraphique.options"
          [legend]="mongraphique.legende"
          [chartType]="mongraphique.type"
          height="300px">
  </canvas>
</div>
<div id="chart">
  <canvas id="monGraphique2" baseChart
          [datasets]="mongraphique2.data.datasets"
          [labels]="mongraphique2.etiquettes"
          [chartType]="mongraphique2.type">
  </canvas>
</div>

<div class="mat-elevation-z8 col-11 m-auto">
<form #FormGestionAjout="ngForm" id="FormGestionAjout" (ngSubmit)="onAdd(tableForfaits, FormGestionAjout);">

  <mat-form-field appearance="fill">
    <mat-label>Destination: </mat-label>
    <input
      class="input-full-width"
      type="text"
      placeholder="Saint-Martin"
      matInput
      [(ngModel)]="newForfait.destination"
      required
      id="destination"
      name="destination"
      class="form-control"
      minlength="2"
      maxlength="25"
      [matAutocomplete]="destination">
    <!-- <mat-error *ngIf="destination.invalid && (destination.dirty || destination.touched) && destination.hasError('required')">Le nom de la destination est obligatoire</mat-error>
     <mat-error *ngIf="destination.invalid && (destination.dirty || destination.touched) && destination.hasError('minlength')">Le nom de la destination doit avoir plus de 2 caractères</mat-error>
     <mat-error *ngIf="destination.invalid && (destination.dirty || destination.touched) && destination.hasError('maxlength')">Le nom de la destination doit avoir un maximum 25 caractères</mat-error>
     -->
     <mat-autocomplete #destination="matAutocomplete"></mat-autocomplete>
   </mat-form-field>
   <br>

   <!-- Section ville de départ -->
  <mat-form-field appearance="fill">
    <mat-label>Ville de départ: </mat-label>
    <input type="text"
           class="input-full-width"
           placeholder="ex: Québec"
           matInput
           required
           id="villeDepart"
           name="villeDepart"
           [(ngModel)]="newForfait.villeDepart"
           minlength="2"
           maxlength="25"
           [matAutocomplete]="depart">
    <mat-autocomplete #depart="matAutocomplete"></mat-autocomplete>
   <!-- <mat-error *ngIf="villeDepart.invalid && (villeDepart.dirty || villeDepart.touched) && villeDepart.hasError('required')">Le nom de la ville est obligatoire</mat-error>
    <mat-error *ngIf="villeDepart.invalid && (villeDepart.dirty || villeDepart.touched) && villeDepart.hasError('minlength')">Le nom doit avoir plus de 2 caractères</mat-error>
    <mat-error *ngIf="villeDepart.invalid && (villeDepart.dirty || villeDepart.touched) && villeDepart.hasError('maxlength')">Le nom doit avoir un maximum 25 caractères</mat-error>
  -->
  </mat-form-field>

  <br>
  <h3>Hôtel: </h3>
  <mat-form-field>
    <mat-label>Nom: </mat-label>
    <input type="text"
           class="input-full-width"
           [(ngModel)]="newForfait.hotel.nom"
           [ngModelOptions]="{standalone: true}"
           placeholder="Royalton Blue Waters"
           matInput
           required
           minlength="3"
           maxlength="70">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input type="text"
           class="input-full-width"
           [(ngModel)]="newForfait.hotel.coordonnee"
           [ngModelOptions]="{standalone: true}"
           placeholder="Coordonnées (Adresse)"
           matInput
           required
           minlength="5"
           maxlength="90">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input type="number"
           class="input-full-width"
           [(ngModel)]="newForfait.hotel.nbChambres"
           [ngModelOptions]="{standalone: true}"
           placeholder="Nombre de chambres: "
           matInput
           required
           id="nbChambres">
  </mat-form-field>
  <br>
  <h5>Caractéristiques: </h5>
  <section
    class="input-full-width"
    [(ngModel)]="newForfait.hotel.caracteristiques"
    [ngModelOptions]="{standalone: true}">
    <mat-checkbox class="ml-2">Gym</mat-checkbox><br>
    <mat-checkbox class="ml-2">Wi-Fi</mat-checkbox><br>
    <mat-checkbox class="ml-2">Climatisation</mat-checkbox><br>
    <mat-checkbox class="ml-2">Spa</mat-checkbox>
  </section>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Date de départ: </mat-label>
    <input
      class="input-full-width"
      matInput
      [(ngModel)]="newForfait.dateDepart"
      [matDatepicker]="departPicker"
      [ngModelOptions]="{standalone: true}"
      required>
    <mat-datepicker-toggle matSuffix [for]="departPicker"></mat-datepicker-toggle>
    <mat-datepicker #departPicker></mat-datepicker>
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Date de retour: </mat-label>
    <input
      class="input-full-width"
      matInput
      [(ngModel)]="newForfait.dateRetour"
      [matDatepicker]="retourPicker"
      [ngModelOptions]="{standalone: true}"
      required>
    <mat-datepicker-toggle matSuffix [for]="retourPicker"></mat-datepicker-toggle>
    <mat-datepicker #retourPicker></mat-datepicker>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Prix: </mat-label>
    <input
      class="input-full-width"
      type="number"
      [(ngModel)]="newForfait.prix"
      [ngModelOptions]="{standalone: true}"
      matInput
      required
      min="1"
      max="99999">
  </mat-form-field>

  <button matSuffix type="submit" mat-icon-button color="primary" [disabled]="!FormGestionAjout.form.valid"><i class="material-icons">add</i>Ajouter</button>

</form>
</div>

<table mat-table #tableForfaits [dataSource]="forfait" class="mat-elevation-z8 col-11 m-auto">

  <!-- Section destination -->
  <ng-container matColumnDef="destination">
    <th mat-header-cell *matHeaderCellDef>Destination </th>
    <td mat-cell *matCellDef="let forfait">
      <!-- Début du formulaire -->
      <form #FormGestionEdition="ngForm" id="FormGestionEdition" (ngSubmit)="FormGestionEdition.form.valid &&
 onEdit(FormGestionEdition)">

        <!-- Section du champ formulaire Destination -->

        <mat-form-field *ngIf="(selectedForfait && selectedForfait === forfait);else editNom;" class="input-full-width">
          <input name="selectedForfaitNom" [(ngModel)]="selectedForfait.destination" matInput required minlength="2"
                 maxlength="25" name="nomEdition" #nomEdition="ngModel">
          <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('required')">La destination est obligatoire.</mat-error>
          <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('minlength')">La destination doit contenir au moins 2 caractères.</mat-error>
          <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('maxlength')">La destination doit contenir au maximum 25 caractères.</mat-error>
        </mat-form-field>
      </form>
      <ng-template #editNom><span (click)="onSelect(forfait)">{{forfait.destination}}</span></ng-template>
    </td>
  </ng-container>

  <!-- Section Ville départ -->
  <ng-container matColumnDef="villeDepart">
    <th mat-header-cell *matHeaderCellDef>Ville départ </th>
    <td mat-cell *matCellDef="let forfait">
      <mat-form-field *ngIf="(selectedForfait && selectedForfait === forfait);else editNom;" class="input-full-width">
        <input name="selectedForfaitNom" [(ngModel)]="selectedForfait.villeDepart" matInput required minlength="2"
               maxlength="25" name="villeDepartEdition" #nomEdition="ngModel">
        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('required')">Le nom est obligatoire.</mat-error>
        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('minlength')">Le nom doit contenir au moins 2 caractères.</mat-error>
        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('maxlength')">Le nom doit contenir au maximum 25 caractères.</mat-error>
      </mat-form-field>
      <ng-template #editNom><span (click)="onSelect(forfait)">{{forfait.villeDepart}}</span></ng-template>
    </td>
  </ng-container>

  <!-- Section Prix -->

  <ng-container matColumnDef="prix">
    <th mat-header-cell *matHeaderCellDef>Prix </th>
    <td mat-cell *matCellDef="let forfait">
      <mat-form-field *ngIf="(selectedForfait && selectedForfait === forfait);else editNom;" class="input-full-width">
        <input name="selectedForfaitNom" [(ngModel)]="selectedForfait.prix" matInput required minlength="2"
               maxlength="25" name="nomEdition" #nomEdition="ngModel">
        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('required')">Le prix est obligatoire.</mat-error>
        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('minlength')">Le prix doit contenir au moins 2 caractères.</mat-error>
        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('maxlength')">Le prix doit contenir au maximum 25 caractères.</mat-error>
      </mat-form-field>
      <ng-template #editNom><span (click)="onSelect(forfait)">{{forfait.prix}}</span></ng-template>
    </td>
  </ng-container>

  <!-- Section nom de l'hôtel -->

  <ng-container matColumnDef="nomHotel">
    <th mat-header-cell *matHeaderCellDef>Nom de l'Hôtel</th>
    <td mat-cell *matCellDef="let forfait">
      <mat-form-field *ngIf="(selectedForfait && selectedForfait === forfait);else editNom;" class="input-full-width">
        <input name="selectedForfaitNom" [(ngModel)]="selectedForfait.hotel.nom" matInput required minlength="2"
               maxlength="25" name="nomEdition" #nomEdition="ngModel">
        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('required')">Le nom est obligatoire.</mat-error>
        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('minlength')">Le nom doit contenir au moins 2 caractères.</mat-error>
        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('maxlength')">Le nom doit contenir au maximum 25 caractères.</mat-error>
      </mat-form-field>
      <ng-template #editNom><span (click)="onSelect(forfait)">{{forfait.hotel.nom}}</span></ng-template>
    </td>
  </ng-container>

  <!-- Section Coordonnées de l'hôtel -->
  <ng-container matColumnDef="infoHotel">
    <th mat-header-cell *matHeaderCellDef>Coordonnées Hôtel</th>
    <td mat-cell *matCellDef="let forfait">
      <mat-form-field *ngIf="(selectedForfait && selectedForfait === forfait);else editNom;" class="input-full-width">
        <input name="selectedForfaitNom" [(ngModel)]="selectedForfait.hotel.coordonnee" matInput required minlength="2"
               maxlength="25" name="nomEdition" #nomEdition="ngModel">
        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('required')">Le nom est obligatoire.</mat-error>
        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('minlength')">Le nom doit contenir au moins 2 caractères.</mat-error>
        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('maxlength')">Le nom doit contenir au maximum 25 caractères.</mat-error>
      </mat-form-field>
      <ng-template #editNom><span (click)="onSelect(forfait)">{{forfait.hotel.coordonnees}}</span></ng-template>
    </td>
  </ng-container>



  <!-- Section date départ -->

  <ng-container matColumnDef="dateDepart">
    <th mat-header-cell *matHeaderCellDef>Date départ</th>
    <td mat-cell *matCellDef="let forfait">
      <mat-form-field *ngIf="(selectedForfait && selectedForfait === forfait);else editNom;" class="input-full-width">
        <input name="selectedForfaitNom" [(ngModel)]="selectedForfait.dateDepart" matInput required minlength="2"
               maxlength="25" name="nomEdition" #nomEdition="ngModel">
        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('required')">Le nom est obligatoire.</mat-error>
        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('minlength')">Le nom doit contenir au moins 2 caractères.</mat-error>
        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('maxlength')">Le nom doit contenir au maximum 25 caractères.</mat-error>
      </mat-form-field>
      <ng-template #editNom><span (click)="onSelect(forfait)">{{forfait.dateDepart}}</span></ng-template>
    </td>
  </ng-container>

  <!-- Section Date retour -->

  <ng-container matColumnDef="dateRetour">
    <th mat-header-cell *matHeaderCellDef>Date retour</th>
    <td mat-cell *matCellDef="let forfait">
      <mat-form-field *ngIf="(selectedForfait && selectedForfait === forfait);else editNom;" class="input-full-width">
        <input name="selectedForfaitNom" [(ngModel)]="selectedForfait.dateRetour" matInput required minlength="2"
               maxlength="25" name="nomEdition" #nomEdition="ngModel">
        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('required')">Le nom est obligatoire.</mat-error>
        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('minlength')">Le nom doit contenir au moins 2 caractères.</mat-error>
        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('maxlength')">Le nom doit contenir au maximum 25 caractères.</mat-error>
      </mat-form-field>
      <ng-template #editNom><span (click)="onSelect(forfait)">{{forfait.dateRetour}}</span></ng-template>
    </td>
  </ng-container>

  <!-- Section rabais -->

  <ng-container matColumnDef="rabais">
    <th mat-header-cell *matHeaderCellDef>Rabais</th>
    <td mat-cell *matCellDef="let forfait">
      <mat-form-field *ngIf="(selectedForfait && selectedForfait === forfait);else editNom;" class="input-full-width">
        <input name="selectedForfaitNom" [(ngModel)]="selectedForfait.rabais" matInput required minlength="2"
               maxlength="25" name="nomEdition" #nomEdition="ngModel">
        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('required')">Le nom est obligatoire.</mat-error>
        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('minlength')">Le nom doit contenir au moins 2 caractères.</mat-error>
        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('maxlength')">Le nom doit contenir au maximum 25 caractères.</mat-error>
      </mat-form-field>
      <ng-template #editNom><span (click)="onSelect(forfait)">{{forfait.rabais}}</span></ng-template>
    </td>
  </ng-container>

  <!-- Section forfait en vedette -->

  <ng-container matColumnDef="vedette">
    <th mat-header-cell *matHeaderCellDef>En Vedette</th>
    <td mat-cell *matCellDef="let forfait">
      <mat-form-field *ngIf="(selectedForfait && selectedForfait === forfait);else editNom;" class="input-full-width">
        <input name="selectedForfaitNom" [(ngModel)]="selectedForfait.forfaitVedette" matInput required minlength="2"
               maxlength="25" name="nomEdition" #nomEdition="ngModel">
        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('required')">Le nom est obligatoire.</mat-error>
        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('minlength')">Le nom doit contenir au moins 2 caractères.</mat-error>
        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
 nomEdition.hasError('maxlength')">Le nom doit contenir au maximum 25 caractères.</mat-error>
      </mat-form-field>
      <ng-template #editNom><span (click)="onSelect(forfait)">{{forfait.forfaitVedette}}</span></ng-template>
    </td>
  </ng-container>




  <!-- Section actions -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="pl-4">Actions</th>
    <td mat-cell *matCellDef="let forfait" class="boutonsAction">
      <button *ngIf="(selectedForfait && selectedForfait === forfait);else editButton;" color="primary" form="FormGestionEdition"
              mat-button><i class="material-icons">done</i></button>
      <ng-template #editButton>
        <form (ngSubmit)="onSelect(forfait)">
          <button mat-button><i class="material-icons">edit</i></button>
        </form>
      </ng-template>

      <form (ngSubmit)="onDelete(forfait)">
        <button mat-button ><i class="material-icons">delete</i></button>
      </form>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

</table>
