/* style.css */
/* Alexandra Houde */
/* 31 décembre 2019 */
@font-face {
    font-family: Jedi;
    src: url("../font/Starjedi.ttf");
}
body {
    width: 1000px;
    background: url("../img/etoileMort.jpg") no-repeat;
    background-color: black;
    margin: auto;
}

h1 {
    font-family: Jedi;
    font-size: 140px;
    color: yellow;
    margin: 0;
    text-align: center;
}

h2, h3, h4 {
    color: white;
    text-align: center;
}

h2 {
    font-size: 72px;
}

h3 {
    font-size: 60px;
}
h4 {
    font-size: 44px;
    text-decoration: underline;
    text-decoration-color: white;
}
p {
    color: white;
    font-size: 16px;
    text-align: justify;
}

img {
    display: block;
    margin: auto;
}

.film {
    color: yellow;
}