@font-face {
  font-family: "Turret Road", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@800&display=swap");
}
label {
  font-family: "Turret Road", cursive;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .trans {
    transform: none !important;
  }

  .row {
    display: block !important;
  }
}

