@import "./variables"
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap')


.navigationBar
  background-color: $couleurNav
  padding: .5rem

.navbarBrand
  font-size: 1.5rem !important
  color: $couleurFontPrincipale !important

@mixin navText
  margin-left: 4.5rem
  font-family: 'Press Start 2P', cursive

.NavText
  @include navText

.navbarBrand img
  filter: grayscale(0%) !important


