@font-face {
    font-family: 'Yeon Sung';
    src: url(https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap);
}

@font-face {
    font-family: 'Permanent Marker';
    src: url(https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap);
}

@font-face {
    font-family: 'Saira Condensed';
    src: url(https://fonts.googleapis.com/css?family=Saira+Condensed&display=swap);
}


html,body { margin:0; height:100%;}
.parallax {

    background-image: url("../img/image1.jfif");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-block {
    background-color: hsla(4, 96%, 23%, 0.71);
    color: #ffffffd1;
    border-radius: 0.625rem/1.875rem;

}

.YS {
    font-family: "Yeon Sung";
}

.titre {
    font-family: "Permanent Marker";
    font-size: 4rem;
    background-color: hsla(179, 11%, 68%, 0.71);
    padding: 20px 10px 20px;

}

p {
    font-family: "Saira Condensed";
}

.parallax2 {

    background-image: url("../img/image2.jfif");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

#section3 {
    color: white;
}

.parallax3 {

    background-image: url("../img/image3.jfif");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section4 {
    background-color: hsla(179, 11%, 68%, 0.86);
    padding: 20px 10px 20px;
    border-radius: 0.625rem/1.875rem;
}

.tuile1 {
    background-color: darkred;
    box-shadow: 0 0 20px rgba(0,0,0,1.25);
}

.tuile2 {
    background-color: darkgray;
    box-shadow: 0 0 20px rgba(0,0,0,1.25);
}

.tuile3 {
    background-color: olivedrab;
    box-shadow: 0 0 20px rgba(0,0,0,1.25);
}

@media screen and (max-width: 600px) {
    .parallax {

        background-image: url("../img/image4.PNG");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .text-block {
        background-color: hsla(4, 96%, 23%, 0.71);
        color: #ffffffd1;
        border-radius: 0.625rem/1.875rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .titre {
        font-family: "Permanent Marker";
        font-size: 1.5rem;
        background-color: hsla(179, 11%, 68%, 0.71);
        padding: 20px 10px 20px;

    }
    .section2 {
        display: none;
    }

    #section3 {
        text-align: center;
    }

    .tuile2 {
        display: none;
    }
}