body, html {
    height: 100%;
    width: 100%;
    overflow: auto;
}

#monTableau {
    border-style: solid;
    color: black;
    margin: 15px;
}

td {
    text-align: center;
    border-style: solid;
    border-color: black;
}

th {
    text-align: center;
    border-style: solid;
    border-color: black;
}

button {
    margin: 15px;
}

.triage {
    display: inline-flex;
}

.tableau-film {
    float: left;
}


.dropbtn {
    background-color: #f30505;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #a90303;
}

#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}